### Q1. List any five functions of the pandas library with execution.

here are five common functions of the Pandas library with example code execution:

1. read_csv(): This function is used to read a CSV file and create a DataFrame object from it.cmcmm

In [2]:
import pandas as pd

df = pd.read_csv('data.csv')

2. head(): This function is used to display the first n rows of a DataFrame object.

In [3]:
df = pd.DataFrame({'name': ['John', 'Jane', 'Bob'], 'age': [25, 30, 35]})

print(df.head(2))

   name  age
0  John   25
1  Jane   30

3. describe(): This function is used to generate descriptive statistics of a DataFrame object.

In [4]:
df = pd.DataFrame({'name': ['John', 'Jane', 'Bob'], 'age': [25, 30, 35]})

print(df.describe())

        age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

4. groupby(): This function is used to group rows of a DataFrame by one or more columns and apply an aggregate function to each group.

In [5]:
df = pd.DataFrame({'name': ['John', 'Jane', 'Bob', 'John'], 'age': [25, 30, 35, 40]})

grouped = df.groupby('name').mean()

print(grouped)

       age
name
Bob   35.0
Jane  30.0
John  32.5

5. merge(): This function is used to merge two or more DataFrame objects based on a common column.

In [6]:
df1 = pd.DataFrame({'name': ['John', 'Jane'], 'age': [25, 30]})
df2 = pd.DataFrame({'name': ['John', 'Bob'], 'salary': [50000, 60000]})

merged = pd.merge(df1, df2, on='name')

print(merged)

   name  age  salary
0  John   25   50000

### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [9]:
df = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]})

df_reindexed = df.reindex(index=['a', 'b', 'c'], columns=['a', 'b', 'd'])

print('Original DataFrame:')
print(df)

print('\nReindexed DataFrame:')
print(df_reindexed)

Original DataFrame:
   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

Reindexed DataFrame:
   a  b   d
0  1  4 NaN
1  2  5 NaN
2  3  6 NaN

### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [26]:
def sum_of_values(df):
    value_sum = 0
    count = 0
    for value in df['Values']:
        if count < 3:
            valueL_sum += value
            count +=1
        else:
            break
    return('The sum of first three value: ', value_sum)
df = pd.DataFrame({'Values':[10, 20, 30, 40, 50]})
sum_first_three(df)

Sum of first three values: 60

### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [28]:
import string

def count_words(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
df = pd.DataFrame({'Text': ['This is a sentence', 'Here is another one', 'And one more']})
count_words(df)
print(df)

                  Text  Word_Count
0   This is a sentence           4
1  Here is another one           4
2         And one more           3

### Q5. How are DataFrame.size() and DataFrame.shape() different?

Ans. DataFrame.size() and DataFrame.shape() are both methods in Pandas that can be used to get information about the dimensions of a DataFrame. However, they return different information.

DataFrame.size() returns the total number of elements in the DataFrame, which is the product of the number of rows and columns. It does not provide information about the dimensions of the DataFrame.

DataFrame.shape() returns a tuple containing the number of rows and columns in the DataFrame, respectively. It provides information about the dimensions of the DataFrame.

#### Q6. Which function of pandas do we use to read an excel file?

In [ ]:
df = pd.read_excel('example.xlsx')

### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. 

### The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username'column.

In [29]:
def extract_username(df):
    username_domain = df['Email'].str.split('@', expand=True)
    
    df['Username'] = username_domain[0]
    
    return df

data = {'Email': ['john.doe@example.com', 'jane.smith@example.com', 'bob.johnson@example.com']}
df = pd.DataFrame(data)

df = extract_username(df)

print(df)

                     Email     Username
0     john.doe@example.com     john.doe
1   jane.smith@example.com   jane.smith
2  bob.johnson@example.com  bob.johnson

### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows. For example, if df contains the following values:

A B C

3 5 1

8 2 7

6 9 4

2 3 5

9 1 2

In [76]:
def add_values(df):
    return df[(df['A'] > 5) & (df['B'] < 10)]
data = {'A':[3, 8, 6, 2, 9], 'B':[5, 2, 9, 3, 1], 'C':[1, 7, 4, 5, 2]}
df = pd.DataFrame(data)
new_df = add_values(df)
print(new_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [80]:
def calculate_stats(df, column_name):
    mean = df[column_name].mean()
    median = df[column_name].median()
    std_dev = df[column_name].std()
    
    return mean, median, std_dev
data = {'Values': [2, 4, 6, 8, 10]}
df = pd.DataFrame(data)

mean, median, std_dev = calculate_stats(df, 'Values')
print('Mean:', mean)
print('Median:', median)
print('Standard deviation:', std_dev)

Mean: 6.0
Median: 6.0
Standard deviation: 3.1622776601683795

### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function tocreate a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [3]:
data = {'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
        'Date': pd.date_range(start='2022-01-01', periods=10)}
df = pd.DataFrame(data)

df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

print(df)

   Sales       Date  MovingAverage
0     10 2022-01-01           10.0
1     20 2022-01-02           15.0
2     30 2022-01-03           20.0
3     40 2022-01-04           25.0
4     50 2022-01-05           30.0
5     60 2022-01-06           35.0
6     70 2022-01-07           40.0
7     80 2022-01-08           50.0
8     90 2022-01-09           60.0
9    100 2022-01-10           70.0

### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column. For example, if df contains the following values:
Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:

Date Weekday

0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

The function should return the modified DataFrame.

In [7]:
def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df
df = pd.DataFrame({'Date':['2023-01-01', '2023-01-02', ' 2023-01-03', '2023-01-04', '2023-01-05']})
df['Date'] = pd.to_datetime(df['Date'])
add_weekday_column(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [14]:
data = {'Date': pd.date_range(start='2023-01-01', end='2023-01-31', freq='D'),
        'Values': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]}
df = pd.DataFrame(data)

def select_date_range(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    return df.loc[mask]
    
selected_data = select_date_range(df)
print(selected_data)

         Date  Values
0  2023-01-01       1
1  2023-01-02       2
2  2023-01-03       3
3  2023-01-04       4
4  2023-01-05       5
5  2023-01-06       6
6  2023-01-07       7
7  2023-01-08       8
8  2023-01-09       9
9  2023-01-10      10
10 2023-01-11      11
11 2023-01-12      12
12 2023-01-13      13
13 2023-01-14      14
14 2023-01-15      15
15 2023-01-16      16
16 2023-01-17      17
17 2023-01-18      18
18 2023-01-19      19
19 2023-01-20      20
20 2023-01-21      21
21 2023-01-22      22
22 2023-01-23      23
23 2023-01-24      24
24 2023-01-25      25
25 2023-01-26      26
26 2023-01-27      27
27 2023-01-28      28
28 2023-01-29      29
29 2023-01-30      30
30 2023-01-31      31

### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

Ans. The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself. It can be imported using the following line of code:

import pandas as pd