# Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans. The Database is an essential part of our life. As we encounter several activities that involve our interaction with databases, for example in the bank, in the railway station, in school, in a grocery store, etc. These are the instances where we need to store a large amount of data in one place and fetch these data easily.

# Diffrence between SQL or NoSQL

SQL:-

1. RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
2. These databases have fixed or static or predefined schema
3. These databases are not suited for hierarchical data storage.
4. These databases are best suited for complex queries
5. Vertically Scalable
6. Follows ACID property
7. Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc

NoSQl:-

1. Non-relational or distributed database system.
2. They have dynamic schema
3. These databases are best suited for hierarchical data storage.
4. These databases are not so good for complex queries
5. Horizontally scalable
6. Follows CAP(consistency, availability, partition tolerance)
7. Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans. DDL or Data Definition Language actually consists of the SQL commands that can be used to define the database schema. It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database. DDL is a set of SQL commands used to create, modify, and delete database structures but not data. These commands are normally not used by a general user, who should be accessing the database via an application.

* CREATE:- This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).

In [ ]:
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    salary DECIMAL(10,2)
)

* DROP: This command is used to delete objects from the database.

In [ ]:
DROP TABLE employees;

* ALTER: This is used to alter the structure of the database.

In [ ]:
ALTER TABLE employees ADD COLUMN age INT;

* TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.

In [ ]:
TRUNCATE TABLE employees;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans. The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements. It is the component of the SQL statement that controls access to data and to the database. Basically, DCL statements are grouped with DML statements.



* DELETE : It is used to delete records from a database table.

* INSERT : It is used to insert data into a table.

In [ ]:
INSERT INTO employees (id, name, salary) VALUES (123, 'John Doe', 50000.00);

* UPDATE: It is used to update existing data within a table.

In [ ]:
UPDATE employees SET salary = 60000.00 WHERE id = 123;

* DELETE : It is used to delete records from a database table.

In [ ]:
DELETE FROM employees WHERE id = 123;

# Q4. What is DQL? Explain SELECT with an example.

Ans. DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

* SELECT: It is used to retrieve data from the database.

# Q5. Explain Primary Key and Foreign Key.

Ans. Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

Example: Refer the figure – 
STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key (only one out of many candidate keys). 

Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 

Example: Refer the figure – 
STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans.
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",
  
  user="abc",
  
  password="password"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE if not exists test2")

mydb.close()

In the code above, we first import the mysql.connector package to use its functions for connecting to MySQL.

We then establish a connection to the MySQL server by passing the required connection parameters, including the username, password, host, and database. This creates a connection object called cnx.

Next, we create a cursor object by calling the cursor() method on the connection object. The cursor object is used to execute SQL queries on the database.

We execute a SELECT query by calling the execute() method on the cursor object, passing in the query as a string. The execute() method executes the query and returns the results, which we can fetch using the fetchall() method.

Finally, we close the cursor and connection objects using the close() method.

The cursor() method creates a cursor object that allows us to execute SQL queries on the database. The execute() method is called on the cursor object to execute an SQL query, and it takes the SQL query as a parameter. The execute() method returns the results of the query, which can be fetched using the fetchall() method.

# Q7. Give the order of execution of SQL clauses in an SQL query.

Ans. The order of execution of SQL clauses in an SQL query is as follows:

1. FROM: This clause specifies the table or tables from which the data will be selected.

2. WHERE: This clause filters the data based on a specified condition or set of conditions.

3. GROUP BY: This clause groups the data based on a specified column or set of columns.

4. HAVING: This clause filters the grouped data based on a specified condition or set of conditions.

5. SELECT: This clause selects the columns to be displayed in the output.

6. DISTINCT: This clause eliminates duplicate rows from the output.

7. ORDER BY: This clause sorts the output based on a specified column or set of columns.

8. LIMIT/OFFSET: These clauses limit the number of rows returned by the query or specify the starting point for returning rows.

Note that not all of these clauses are required in every SQL query, and the order of execution may vary depending on the specific query. However, this is the general order of execution for a standard SQL query.