### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [15]:
import pandas as pd

In [28]:
data = [4, 8, 15, 16, 23, 42]

series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [33]:
my_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

series = pd.Series(my_list)
print(series)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

In [38]:
data = {
    'Name':['Alice', 'Bob', 'Claire'],
    'Age':[25, 30, 27],
    'Gender':['F','M','F']
}

df = pd.DataFrame(data)
print(df)

     Name  Age Gender
0   Alice   25      F
1     Bob   30      M
2  Claire   27      F

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans. In Pandas, a DataFrame is a two-dimensional table-like data structure, where each column can have a different data type, such as integer, float, string, etc. It is similar to a spreadsheet or SQL table, where the rows represent the observations, and the columns represent the variables. A DataFrame can be thought of as a collection of Pandas Series objects that share the same index.

A Pandas Series, on the other hand, is a one-dimensional labeled array that can hold data of any type. It can be created from a list, a tuple, a NumPy ndarray, or a dictionary.

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Ans. There are many functions and methods available in Pandas for manipulating data in a DataFrame. Some of the commonly used ones are:

1. `head()` and `tail()`: These functions are used to display the first or last n rows of the DataFrame, respectively. They are useful for quickly inspecting the structure and contents of a DataFrame.

2. `info()`: This function is used to get a concise summary of the DataFrame, including the column names, data types, and non-null values. It is useful for checking the data types and identifying missing values in the DataFrame.

3. `describe()`: This function is used to generate various summary statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartile values. It is useful for getting a quick overview of the distribution of numerical variables in the DataFrame.

4. `drop()`: This method is used to remove one or more rows or columns from the DataFrame based on the labels or positions. It is useful for cleaning or filtering the data and removing unwanted variables.

5. `groupby()`: This method is used to group the DataFrame by one or more columns and apply a function to each group. It is useful for aggregating, summarizing, or transforming the data based on categorical variables.

Here is an example of how you might use the `groupby()` function to summarize data in a DataFrame:

In [39]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'Gender': ['Female', 'Male', 'Male', 'Male', 'Female'],
        'Age': [25, 30, 35, 40, 45],
        'Salary': [50000, 60000, 70000, 80000, 90000]}
df = pd.DataFrame(data)

summary = df.groupby('Gender').mean()

print(summary)

         Age   Salary
Gender
Female  35.0  70000.0
Male    35.0  70000.0

In this example, we used the `groupby()` function to group the DataFrame by Gender and calculate the mean of Age and Salary for each group. This summary table can be useful for analyzing the average age and salary of male and female employees in the company.

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans. n Pandas, both Series and DataFrame are mutable in nature.

A Series can be modified by assigning new values to its elements or by using methods such as append(), drop(), replace(), etc. Similarly, a DataFrame can be modified by adding or removing rows or columns, or by modifying the values in existing cells using methods such as loc[], iloc[], drop(), replace(), etc.

On the other hand, a Panel is an advanced data structure in Pandas that is three-dimensional and can store data in a tabular format. However, it is considered deprecated in recent versions of Pandas and has been replaced by the more general-purpose MultiIndex data structure.